.card {
    border-radius: 12px;
    padding: 8px;
    background: #20283ECC;
    position: relative;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
}

.card__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    padding: 0 8px;
}