.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 8px;
    background: #20283ECC;
    position: relative;
}
.card img {
    max-width: 100%;
    height: auto;
    display: block;
}

.card__rating {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 32px;
    margin: 8px;
    padding: 0 8px;
    background: #000000A6;
    color: #FFAD49;
    border-radius: 8px;
    position: absolute;
}

.card__footer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0 8px;
}

.card__title {
    color: #EBEEF5;
    font-size: 16px;
    line-height: 24px;
}

.card__button_favorite {
    display: flex;
    gap: 8px;
    background: none;
    border: none;
    color: #7B6EF6;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}