.nav {
    display: flex;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    padding-right: 50px;
}

.nav a {
    padding: 12px 16px;
    color: #A8AEBF;
    text-decoration: none;
    transition: color 0.3s;
}

.nav a:hover,
.nav a:active {
    color: #FFFFFF;
}

.buttonEnter {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    color: #A8AEBF;
    cursor: pointer;
    font-size: 16px;
    padding-top: 6px;
    transition: color 0.3s;
}

.button-enter:hover {
    color: #FFFFFF; 
}